body{background-image: url("images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;}

#header {
    color:blue;
    text-align:center;
    padding:5px;
}


#nav {line-height:50px;
    height:450px;
    width:100px;
    float:left;
    padding:5px;
}

#nav a: {color: rgb(203, 47, 255)}
#nav a:hover{color: coral; font-size: 20;}
#nav a:visited{color: grey}


#section {
    float:center;
    clear:both
    padding:10px;
}

#footer {
    clear:both;
    text-align:center;
    padding:5px; 
}